.tabs-item {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: auto;

  &:focus-visible {
    outline: #618bbd solid 2px;
    border-radius: 4px;
    outline-offset: -1px;
  }
}

.tab {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
  height: 40px;
}

.line {
  height: 4px;
  width: 100%;
  border-radius: 4px;
}

.tabs-item:hover .line {
  background: #618bbd;
}

.tabs-item:active .line {
  background: #1d63b7;
}

.li-nav-item {
  list-style: none;
}
